.film-list {
  padding-bottom: 40px;
  &__title{
    margin-bottom: 30px;
  }
  &__card{
    &-block {
      position: relative;
      height: 300px;
      cursor: pointer;
      margin-bottom: 15px;
      transition: 1s;
      overflow-y: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 15px;
        transition: 1s;
      }
      &:hover {

        transform: translateY(-4px);
        .film-list__card-info {
          display: flex;
          transition: 1s;
          bottom: 0
        }
        transition: 1s;
      }

    }
    &-info {
      width: 100%;
      height: 100%;
      flex-direction: column;
      justify-content: flex-end;
      padding: 30px;
      position: absolute;
      border-radius: 15px;
      bottom: -100%;
      background: #36353e80;
    }
    &-icons {
      display: flex;
      flex-direction: column;
      row-gap: 15px;
      position: absolute;
      top: 30px;
      right: 15px;
    }
    &-icon {
      font-size: 24px;
      position: relative;
      &:hover {
        .film-list__card-move {
          display: flex;
        }
      }
    }
    &-move {
      display: none;
      position: absolute;
      padding: 3px 0;
      width: 120px;
      justify-content: center;
      align-items: center;
      background: #100e19;
      top: -25px;
      right: 0;
      font-size: 12px;
      border-radius: 8px;
    }
  }
}

.swiper {
  padding: 40px 40px;
}