.header {
  padding: 15px 0;
  border-bottom: 1px solid #36353e;
  position: relative;
  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 5px;
  }

  &__menu {
    display: flex;
    column-gap: 30px;
  }

  &__link {
    color: #a5a1b2;
    font-size: 22px;
    &.active {
      color: #ffffff;
    }
  }
  &__link:hover {
    color: #fff;
  }
  //&__item_films {
  //  &:hover {
  //    .header__item-down {
  //      display: flex;
  //    }
  //  }
  //}
  &__item-down {
    transition: .5s;
    display: none;
    max-width: 1300px;
    width: 100%;
    padding: 30px 20px 20px;
    background: #1f1b2e;
    position: absolute;
    top: 99px;
    left: 20px;
  }


  &__right {
    display: flex;
    column-gap: 20px;
  }

  &__search {
    border: none;
    outline: none;
    background: transparent;

    &::placeholder {
      color: #a5a1b2;
      font-size: 17px;
      font-weight: 400;
    }
  }

  &__auth {
    display: flex;
    align-items: center;
    column-gap: 5px;
  }
}